@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*=================================Main Section====================================*/
.btn__icon {
  width: 80px !important;
  height: 80px !important;
  display: inline-block;
}

.btn__icon__form {
  width: 45px !important;
  height: 45px !important;
  display: inline-block;
}

.link__bottom .v-text-field__details {
  margin-bottom: -12px !important;
}

.link__bottom .v-input__slot {
  margin-bottom: 0 !important;
}

.d_n {
  display: none;
}

.d_b {
  display: block;
}

.visitka__img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.avatar__visitka {
  margin: -15% auto -15% auto;
  border: 4px solid #fff;
}

.content__visitka {
  background-color: white !important;
  opacity: 3;
  padding: 15px 5px;
}

.logo__img__mainmenu {
  margin-left: 27% !important;
}

.logo__link__mainmenu {
  margin: 0 auto;
}

.opis_visitka {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  white-space: pre-line;
  font-size: 10px;
  line-height: 2;
}

.visitka_icon {
  margin: 10px;
  background-color: black;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  color: white !important;
}

.black__btn {
  background-color: black !important;
  color: white !important;
}

.white__btn {
  background-color: white !important;
  color: black !important;
}

.icon__dialog__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px !important;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon__dialog__block .text__icon__block {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.icon__dialog__block .opacity_icon:not(:nth-child(1)) {
  opacity: 40%;
}

.work__place {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work__place .btn__lock {
  margin-bottom: 20px;
}

/*=================================Main Section end====================================*/
/*=================================main styles ====================================*/
body {
  background-color: #fff;
  color: #27262A;
  font-size: 20PX;
  line-height: 23px;
}

select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  color: #FB7710;
  line-height: 70px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  color: #27262A;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  color: #27262A;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.v-list-item__content {
  width: 100%;
}

.v-list-item__title {
  white-space: normal
}

.button__menu__main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.button__menu__main button{
  margin: 5px;
}

.menu__img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 5px 10px;
}
.name__food{
  font-size: 20px;
  font-weight: bold;
}
.weight__food{
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 !important;
}
.cost__food{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 !important;
  text-align: end;
}
.list__item__menu{
  margin-bottom: 10px;
  box-shadow: 0px 7px 11px -4px rgba(0,0,0,1);
}
.category__food{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255)
}
.menu__container .v-list-item--link{
  background-color: black;
}
.menu__container .theme--light.v-icon{
  color: #fff;
}
.button__cook{
  background-color: rgb(231, 231, 231);
  width: 100%;
  border-radius: 20px;
  padding: 15px 5px 0 5px;
  margin-bottom: 5px;
}
.button__cook h4 {
  text-align: center;
}
/*=================================main styles end====================================*/
/*=================================Login====================================*/
.main__login__block {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__login__block .login__block {
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.199) !important;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.199) !important;
}

.main__login__block .login__row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__login__block .icon__bar__login {
  border-top: 2px dashed #333;
  margin-top: 10px;
  text-align: center;
}

.main__login__block .logo__img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 20px auto;
}

/*=================================Login end====================================*/
.btn_main {
  font-weight: 900;
  -webkit-box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*=================================media ====================================*/

@media (max-width: 600px) {
  .list__item__menu {
    flex-direction: column;
  }
  .menu__img{
    max-width: 100%;
  }
}

/*=================================media ====================================*/