/*=================================Login====================================*/

.main__login__block{
  align-items: center;
  .login__block{
    padding: 10px;
    text-align: center;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.199) !important;
  }
  .login__row{
    justify-content: center;
  }
  .icon__bar__login{
    border-top: 2px dashed #333;
    margin-top: 10px;
    text-align: center;
  }
}



/*=================================Login end====================================*/