/*=================================Main Section====================================*/
.visitka_icon{
  
  
}
.btn__icon{
  width: 50px !important;
  height: 50px !important;
  display: inline-block;
  background-color: rgb(211, 201, 113);
}
.link__bottom{
  .v-text-field__details{
    margin-bottom: -12px !important;
    
  }
  .v-input__slot{
    margin-bottom: 0 !important;
  }
}
.d_n{
  display: none;
}
.d_b{
  display: block;
}

/*=================================Main Section end====================================*/