/*=================================Main Section====================================*/
.visitka_icon {}

.btn__icon {
  width: 80px !important;
  height: 80px !important;
  display: inline-block;
}

.btn__icon__form {
  width: 45px !important;
  height: 45px !important;
  display: inline-block;
}

.link__bottom {
  .v-text-field__details {
    margin-bottom: -12px !important;

  }

  .v-input__slot {
    margin-bottom: 0 !important;
  }
}

.d_n {
  display: none;
}

.d_b {
  display: block;
}

.visitka__img {
  border-radius: 50%;
  text-align: center;
}

.avatar__visitka {
  // position: absolute;
  // top: 0;
  // left: 50%;
  margin: 25% auto -15% auto;
  border: 4px solid #fff;
}

.content__visitka {
  background-color: rgb(255, 255, 255) !important;
  opacity: 3;
  padding: 15px 5px;
}

.logo__img__mainmenu {
  margin-left: 33% !important;
}

.opis_visitka {
  text-transform: uppercase;
  font-weight: 400;
  text-align: justify;
  white-space: pre-line;
}

.visitka_icon {
  margin: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 6px 10px 25px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

  color: rgb(255, 255, 255) !important;
}

.black__btn {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}

.white__btn {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.icon__dialog__block {
  display: flex;
  flex-wrap: wrap;
  padding: 5px !important;
  align-items: baseline;
  justify-content: center;

  .text__icon__block {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
}

/*=================================Main Section end====================================*/