/*=================================Main Section====================================*/
.visitka_icon{
  
  
}
.btn__icon{
  width: 56px !important;
  height: 56px !important;
  display: inline-block;
  background-color: rgb(211, 201, 113);
}

/*=================================Main Section end====================================*/