<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-advanced-cropper@^1.0.0/dist/style.css">
  <title>OnlineVisitka</title>
</head>

<body>
  <div id="menu">
    <template>
      <v-app id="inspire">
        <!-- <v-app-bar app color="black darken-1" flat style='z-index: 10;'>
          <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
          <v-avatar color="shrink" size="50" class="logo__img__mainmenu" width='100'>
            <v-img src="/views/_source/img/logo_notbg.PNG"></v-img>
          </v-avatar>

        </v-app-bar> -->

        <v-main class="grey lighten-3">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12">
                <!-- <v-navigation-drawer v-model="drawer" fixed temporary style='top: 56px;'>
                  <v-list>
                    <v-list-item link>
                      <v-list-item-content>
                        <v-list-item-title class="title">
                          {{user.name}} {{user.surname}}
                        </v-list-item-title>
                        <v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-action>
                        <v-icon>mdi-menu-down</v-icon>
                      </v-list-item-action>
                    </v-list-item>
                  </v-list>
                  <v-divider></v-divider>
                  <v-list nav dense>
                    <v-list-item :key="i" @click="copyBtn">
                      <v-text-field label="Ваша ссылка" outlined rounded dense readonly
                        v-model="protocol+'://'+domain+'/'+user.id" id="copytext" class="link__side__menu">
                      </v-text-field>
                    </v-list-item>
                    <v-list-item-group v-model="selectedItem" color="black">
                      <div v-for="(item, i) in items">
                        <div v-if='item.type === "link"'>
                          <v-list-item :key="i" @click="reLocate(item.link)">

                            <v-list-item-icon>
                              <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                              <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </div>
                        <div v-if='item.type === "btn"'>
                          <v-list-item :key="i" @click.once="makeCodeSide" @click="toggleqrside = !toggleqrside">

                            <v-list-item-icon>
                              <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                              <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <div id="qrcode_side" style="padding: 5px" v-show='toggleqrside'></div>
                        </div>
                      </div>
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer> -->







                <!-- menu -->
                <v-main class="grey lighten-3" style="margin-bottom: 50px;">
                  <v-sheet min-height="70vh" rounded="lg"
                    style="display: flex; align-items: center; flex-direction: column;">
                    <v-list style="width: 100%;" class="menu__container">
                      <v-list-group v-for="(catalog, i) in catalog_names" :key="catalog.name_catalog"
                        v-model="catalog.active">
                        <template v-slot:activator>
                          <v-list-item-content>
                            <v-list-item-title class="category__food">
                              <!-- modal edit name catalog -->
                              <v-dialog v-model="edit_name_catalog" persistent max-width="600px">
                                <template v-slot:activator="{ on: onEdtiMenu, attrs: editMenu }">
                                  <v-btn elevation="5" class="black__btn btn_main" v-bind="editMenu" v-on="onEdtiMenu"
                                    text icon>
                                    <v-icon>mdi-pen</v-icon>
                                  </v-btn>
                                </template>
                                <v-card>
                                  <v-card-title>
                                    <span class="headline">Редактировать</span>
                                  </v-card-title>

                                  <v-card-text>
                                    <v-container>
                                      <v-row>
                                        <v-col cols="12">
                                          <v-text-field label="Название" required v-model="name_cook">
                                          </v-text-field>
                                        </v-col>
                                      </v-row>
                                    </v-container>
                                  </v-card-text>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="black darken-1" text @click="edit_name_catalog = false">
                                      Закрыть
                                    </v-btn>
                                    <v-btn color="black darken-1" text @click="edit_name_catalog = false">
                                      Сохранить меню
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                              <!-- modal edit menu end-->
                              {{catalog.name_catalog}}
                              <v-btn elevation="2" raised class="black__btn btn_main" @click='removeCatalog(i)'>
                                <v-icon>mdi-delete</v-icon>
                              </v-btn>
                            </v-list-item-title>
                          </v-list-item-content>
                        </template>
                        <v-list-item>
                          <v-list-item-content>
                            <!-- modal add category -->
                            <v-dialog v-model="add_category_modal" persistent max-width="600px">
                              <template v-slot:activator="{ on: addCat, attrs: addcatModal }">
                                <v-col cols="12" sm="12" style="text-align: center;">
                                  <v-btn elevation="2" raised class="black__btn btn_main" v-bind="addcatModal"
                                    v-on="addCat">
                                    <v-icon left>
                                      mdi-plus-box
                                    </v-icon>Добавить категорию
                                  </v-btn>
                                </v-col>
                              </template>
                              <v-card>
                                <v-card-title>
                                  <span class="headline">Добавить категорию</span>
                                </v-card-title>

                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12">
                                        <v-text-field label="Название категории" required v-model="name_category">
                                        </v-text-field>
                                      </v-col>
                                      <v-col cols="12">
                                        <cropper ref="source" :src="objectUrlcategory"
                                          :stencil-props="{ aspectRatio: 9/9 }" @change="changes__category">
                                        </cropper>
                                        <v-file-input label="Изображение" class="my-4" prepend-icon="mdi-camera"
                                          accept="image/png, image/jpeg" placeholder="Выберите изображение"
                                          :show-size="1024" @change="setupCropperCategory" v-model="category_img_cook">
                                        </v-file-input>
                                      </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="black darken-1" text @click="add_category_modal = false">
                                    Закрыть
                                  </v-btn>
                                  <v-btn color="black darken-1" text @click="add_category_modal = false, addCategory()">
                                    Сохранить меню
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                            <!-- modal add category end-->
                            <v-list-item-title v-for="(item, index) in menu_categorys" style='position: relative;'>
                              <div>
                                <a href="menu.html">
                                  <v-img :src="item.category_img_cook" height="200px"
                                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                                    class="white--text align-end menu__img">

                                    <v-card-title>{{item.category_cook}}</v-card-title>
                                  </v-img>
                                </a>
                                <v-btn elevation="2" raised class="black__btn btn_main delete__menu"
                                  @click='removeCategory(index)'>
                                  <v-icon>mdi-delete</v-icon>
                                </v-btn>
                                <!-- modal edit category -->
                                <v-dialog v-model="edit_category_modal" persistent max-width="600px">
                                  <template v-slot:activator="{ on: onEditCat, attrs: editCat }">
                                    <v-btn elevation="2" raised class="black__btn btn_main edit__menu__icon"
                                      v-bind="editCat" v-on="onEditCat">
                                      <v-icon>mdi-pen</v-icon>
                                    </v-btn>
                                  </template>
                                  <v-card>
                                    <v-card-title>
                                      <span class="headline">Редактировать категорию</span>
                                    </v-card-title>

                                    <v-card-text>
                                      <v-container>
                                        <v-row>
                                          <v-col cols="12">
                                            <v-text-field label="Название категории" required v-model="name_category">
                                            </v-text-field>
                                          </v-col>
                                          <v-col cols="12">
                                            <cropper ref="source" :src="objectUrlcategory"
                                              :stencil-props="{ aspectRatio: 9/9 }" @change="changes__category">
                                            </cropper>
                                            <v-file-input label="Изображение" class="my-4" prepend-icon="mdi-camera"
                                              accept="image/png, image/jpeg" placeholder="Выберите изображение"
                                              :show-size="1024" @change="setupCropperCategory"
                                              v-model="category_img_cook">
                                            </v-file-input>
                                          </v-col>
                                        </v-row>
                                      </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn color="black darken-1" text @click="edit_category_modal = false">
                                        Закрыть
                                      </v-btn>
                                      <v-btn color="black darken-1" text @click="edit_category_modal = false">
                                        Сохранить меню
                                      </v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </v-dialog>
                                <!-- modal edit category end-->
                              </div>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-group>
                      <v-divider></v-divider>



                      <!-- modal add menu -->
                      <v-dialog v-model="add_catalog" persistent max-width="600px">
                        <template v-slot:activator="{ on: onEdit, attrs: editModal }">
                          <v-col cols="12" sm="12" style="text-align: center;">
                            <v-btn elevation="2" raised class="black__btn btn_main" v-bind="editModal" v-on="onEdit">
                              <v-icon left>
                                mdi-plus-box
                              </v-icon>Создать каталог / меню
                            </v-btn>
                          </v-col>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="headline">Добавить</span>
                          </v-card-title>

                          <v-card-text>
                            <v-container>
                              <v-row>
                                <v-col cols="12">
                                  <v-text-field label="Название каталога / меню" required v-model="name_catalog">
                                  </v-text-field>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="black darken-1" text @click="add_catalog = false">
                              Закрыть
                            </v-btn>
                            <v-btn color="black darken-1" text @click="add_catalog = false, addCatalog()">
                              Сохранить меню
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <!-- modal add menu end-->
                  </v-sheet>
                </v-main>
              </v-col>
              <!-- menu -->




              <!-- Подвал -->
              <v-footer fixed hide-on-scroll horizontal style="bottom: 55px;" class='link__bottom' v-show='toggle'>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn text v-bind="attrs" v-on="on" @click="copyBtn">
                      <v-icon color='black'>mdi-file-document-box-multiple-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Скопировать ссылку</span>
                </v-tooltip>
                <v-text-field label="Ваша ссылка" solo rounded dense readonly
                  v-model="protocol+'://'+domain+'/'+user.id" id="copytext_2">
                </v-text-field>
              </v-footer>
              <v-footer fixed hide-on-scroll horizontal
                style="bottom: 55px;align-items: center;justify-content: center; flex-direction: column;"
                class='link__bottom' v-show='toggle_qr'>
                <v-btn text @click.once="makeCode" v-once>
                  <v-icon color='black'>mdi-qrcode</v-icon>
                  Сгенерировать Qr-Code
                </v-btn>
                <div id="qrcode" style="padding: 5px"></div>
              </v-footer>
              <v-bottom-navigation fixed hide-on-scroll horizontal scroll-target="#hide-on-scroll-example">
                <v-btn color="deep-purple accent-4" text @click="toggle = !toggle">
                  <span>Поделиться</span>
                  <v-icon>mdi-share-variant</v-icon>
                </v-btn>
                <v-btn color="deep-purple accent-4" text text @click="toggle_qr = !toggle_qr">
                  <span>QR Код</span>
                  <v-icon>mdi-qrcode</v-icon>
                </v-btn>
              </v-bottom-navigation>


              <!-- Подвал -->
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/JQuery.min.js"></script>
  <script src="https://unpkg.com/vue-advanced-cropper@^1.0.0/dist/index.umd.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/swap.js"></script>
</body>

</html>